:root {
  /* TenoxUI v0.4.25 Below */
  --full: stretch;
  --col: column;
  --fxs: flex-start;
  --fxe: flex-end;
  --flex-start: var(--fxs);
  --flex-end: var(--fxe);
  --sb: space-between;
  --tx__s-b: space-between;
  --sa: space-around;
  --se: space-evenly;
  --row-rev: row-reverse;
  --col-rev: column-reverse;
  --wrap-rev: wrap-reverse;
  --repeat-x: repeat-x;
  --repeat-y: repeat-y;
  --x-repeat: repeat-x;
  --y-repeat: repeat-y;
  --no-repeat: no-repeat;
  --ib: inline-block;
  --i-fx: inline-flex;
  /* tenoxui v0.4.26 or higher */
  --tx__video: 16/9;
  --tx__poster: 3/4;
  --tx__avoid-page: avoid-page;
  --tx__border-box: border-box;
  --tx__content-box: content-box;
  --tx__padding-box: padding-box;
  --tx__avoid-column: avoid-column;
  --tx__inline-start: inline-start;
  --tx__inline-end: inline-end;
  --tx__inline-block: inline-block;
  --tx__inline-flex: inline-flex;
  --tx__inline-grid: inline-grid;
  --tx__inline-table: inline-table;
  --tx__list-item: list-item;
  --tx__scale-down: scale-down;
  --tx__left-bottom: left bottom;
  --tx__left-top: left top;
  --tx__right-bottom: right bottom;
  --tx__right-top: right top;
  --tx__min-content: min-content;
  --tx__fit-content: fit-content;
  --tx__max-content: max-content;
  --tx__line-through: line-through;
  --tx__text-top: text-top;
  --tx__text-bottom: text-bottom;
  --tx__break-all: break-all;
  --tx__break-word: break-word;
  --tx__keep-all: keep-all;
  --tx__row-rev: row-reverse;
  --tx__col-rev: column-reverse;
  --tx__wrap-rev: wrap-reverse;
  --tx__fx-start: flex-start;
  --tx__fx-end: flex-end;
  --tx__s-between: var(--sb);
  --tx__s-around: space-around;
  --tx__s-evenly: space-evenly;
  --tx__right-top: right top;
  --tx__right-bottom: right bottom;
  --tx__left-top: left top;
  --tx__left-bottom: left bottom;
  --tx__line-through: line-through;
  --tx__pre-line: pre-line;
  --tx__pre-wrap: pre-wrap;
  --tx__break-spaces: break-spaces;
  --tx__border-box: border-box;
  --tx__content-box: content-box;
  --tx__padding-box: padding-box;

  --tx__font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tx__font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --tx__font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --tx__default: "Aku Sayang Zeta :)";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.4s;
}

.aspect-auto,
.aspect-square,
.aspect-video,
.block,
.inline-block,
.inline,
.flex,
.inline-flex,
.table,
.inline-table,
.table-caption,
.table-cell,
.table-column,
.table-column-group,
.table-footer-group,
.table-header-group,
.table-row-group,
.table-row,
.flow-root,
.grid,
.inline-grid,
.contents,
.list-item,
.hidden,
.isolate,
.isolation-auto,
.overflow-auto,
.overflow-hidden,
.overflow-clip,
.overflow-visible,
.overflow-scroll,
.overflow-x-auto,
.overflow-y-auto,
.overflow-x-hidden,
.overflow-y-hidden,
.overflow-x-clip,
.overflow-y-clip,
.overflow-x-visible,
.overflow-y-visible,
.overflow-x-scroll,
.overflow-y-scroll,
.static,
.fixed,
.absolute,
.relative,
.sticky,
.visible,
.invisible,
.collapse,
.flex-row,
.flex-row-reverse,
.flex-col,
.flex-col-reverse,
.flex-wrap,
.flex-wrap-reverse,
.flex-nowrap,
.flex-1,
.flex-auto,
.flex-initial,
.flex-none,
.justify-normal,
.justify-start,
.justify-end,
.justify-center,
.justify-between,
.justify-around,
.justify-evenly,
.justify-stretch,
.justify-items-start,
.justify-items-end,
.justify-items-center,
.justify-items-stretch,
.justify-self-auto,
.justify-self-start,
.justify-self-end,
.justify-self-center,
.justify-self-stretch,
.content-normal,
.content-center,
.content-start,
.content-end,
.content-between,
.content-around,
.content-evenly,
.content-baseline,
.content-stretch,
.items-baseline,
.items-start,
.items-end,
.items-center,
.items-stretch,
.self-auto,
.self-start,
.self-end,
.self-center,
.self-stretch,
.self-baseline,
.font-sans,
.font-serif,
.font-mono,
.text-xs,
.text-sm,
.text-base,
.text-lg,
.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl,
.font-thin,
.font-extralight,
.font-light,
.font-normal,
.font-medium,
.font-semibold,
.font-bold,
.font-extrabold,
.font-black,
.tracking-tighter,
.tracking-tight,
.tracking-normal,
.tracking-wide,
.tracking-wider,
.tracking-widest,
.leading-3,
.leading-4,
.leading-5,
.leading-6,
.leading-7,
.leading-8,
.leading-9,
.leading-10,
.leading-none,
.leading-tight,
.leading-snug,
.leading-normal,
.leading-relaxed,
.leading-loose,
.text-left,
.text-center,
.text-right,
.text-justify,
.text-start,
.text-end,
.underline,
.overline,
.line-through,
.no-underline,
.uppercase,
.lowercase,
.capitalize,
.normal-case,
.truncate,
.text-ellipsis,
.text-clip,
.whitespace-normal,
.whitespace-nowrap,
.whitespace-pre,
.whitespace-pre-line,
.whitespace-pre-wrap,
.whitespace-break-spaces,
.bg-fixed,
.bg-local,
.bg-scroll,
.bg-clip-border,
.bg-clip-padding,
.bg-clip-content,
.bg-clip-text,
.bg-origin-border,
.bg-origin-padding,
.bg-origin-content,
.bg-bottom,
.bg-center,
.bg-left,
.bg-left-bottom,
.bg-left-top,
.bg-right,
.bg-right-bottom,
.bg-right-top,
.bg-top,
.bg-repeat,
.bg-no-repeat,
.bg-repeat-x,
.bg-repeat-y,
.bg-repeat-round,
.bg-repeat-space,
.rounded-none,
.rounded-sm,
.rounded,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-2xl,
.rounded-3xl,
.rounded-full,
.border-solid,
.border-dashed,
.border-dotted,
.border-double,
.border-hidden,
.border-non {
  --tenox__class-default: inherit;
}
